.active {
    background-color: white !important;
    font-weight: bold;
}

.center {
    display: block;
    margin: 0 auto;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}

.header {
    background-color: #3F51B5;
}

li {
    margin: 10px;
}

.projectSection {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tab {
    margin: 0px;
    position:relative;
    background-color: lightgray;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-radius: 30px 0 30px 30px;
    border-radius: 30px 30px 0 0;
    padding: 5px;
}

