<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="projectSection">
            <h4>Portfolio</h4>
            <p>
                This portfolio was made with AngularJs, bootstrap, and ui-bootstrap. It is hosted on GitHub Pages. The
                repo can be found <a href="https://github.com/annaharri89/annaharri89.github.io">here</a>.
            </p>
        </div>
        <div class="projectSection">
            <h4>The Coder</h4>
            <p>
                I am a Junior Android Developer, with a passion for learning. I graduated from Indiana
                University East, with a degree in Informatics. I have had experience with a number of programming
                technologies, including Python, JAVA, AngularJS, HTML5, CSS, and javascript. In my spare time I
                enjoy knitting and playing the ukulele.
            </p>
        </div>
        <div class="projectSection">
            <h4>Hire Me</h4>
            <p>
                I'm currently looking for a new position in the Middletown, OH or Mason, OH area.
                I'm also open to remote positions and have previous experience working remotely. If you're
                interested in hiring or know of a position that might be a good fit, email me
                <a href="mailto:&#097;&#110;&#110;&#097;&#046;&#104;&#097;&#114;&#114;&#105;&#046;&#056;&#057;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?Subject=Job%20Opportunity">here</a>.
            </p>
        </div>
    </div>
</div>
