<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="projectSection">
            <p>
                Crochet Central is an iPad app I created for my Student Capstone Project at Indiana University East.
                The app is very outdated and does not work as it originally did, but it is proof of experience in
                Objective-C. The repo can be found <a href="https://github.com/annaharri89/crochet-central">here</a>.
            </p>
        </div>
    </div>
</div>
