<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="projectSection">
            <img src="images/hpf_pulse_google_play_icon.png" height="150" style="float:left; margin:30px">
            <ul>
                <li>
                    HPF Pulse is an Android app I made on behalf of The Humanity Preservation Foundation.
                    <ul style="padding-left:200px">
                        <li>
                            To download it, visit the
                            <a href="https://play.google.com/store/apps/details?id=org.humanitypreservationfoundation.pulse">Google Play store</a>.
                        </li>
                        <li>
                           To review it's code, visit the <a href="https://github.com/annaharri89/HPFPulse">repo on github</a>.
                        </li>
                    </ul>
                </li>
                <li>
                    The HPF Pulse project was created to provide victims, heroes, caregivers and volunteers a
                    directory for finding services in all 50 states. Pulse is there to let you know who is out
                    there and willing to help with a form of violence that you may have experienced. Users will
                    have the ability to search for services that fall under the three categories that HPF focuses on -
                    Child Abuse, Domestic Violence or Bullying and then find resources available in every single state.
                </li>
                <li>
                    More information on The Humanity Preservation Foundation can be found at their <a href="http://humanitypreservationfoundation.org/">website</a>.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div ng-controller="HPFPulseCarouselCtrl" class="col-md-4">
        <div style="height: 200px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>