<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="projectSection">
            <img src="images/application_icon_stitch_counter.png" height="150" style="float:left; margin:30px">
            <ul>
                <li>
                    Stitch Counter is an Android app. To download it, visit the
                    <a href="https://play.google.com/store/apps/details?id=io.github.annaharri89.stitchcounter">Google Play store</a>.
                    To review it's code, visit the <a href="https://github.com/annaharri89/stitchCounter">repo on github.</a>
                </li>
                <li>
                    Stitch Counter allows users to keep track of their knitting or crochet projects in two ways:
                </li>
                <ol style="padding-left:200px">
                    <li>
                        Through a single counter which can be used to track stitches or rows and
                    </li>
                    <li>
                        Through a double counter which has a counter for stitches and a counter for rows.
                    </li>
                </ol>
                <li>
                    Stitch Counter has a library system that allows users to save counters and come back to them later.
                </li>
                <li>
                    Stitch Counter's theme can be customized through the settings page. Users have access to 6 different
                    color themes.
                </li>
                <li>
                    Stitch Counter is optimized for portrait and landscape mode on all device sizes.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div ng-controller="StitchCounterCarouselCtrl" class="col-md-4">
        <div style="height: 200px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{slide.id}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
